# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-24</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
</table>

# Introduction

- Create three dataframes
- Write one dataframe to a csv file
- Read a csv file and correct dtypes
- Write three dataframes to three worksheets to an Excel workbook
- Read an Excel workbook with three worksheets and correct dtypes
- Read an Excel workbook with data and formulae in three worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,39.388662,True,small,0 days,54.142202,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.145904,19,0.078433
1,25.841943,True,medium,0 days,17.101856,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,0.098596,57,0.570055

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write one dataframe to a csv file

In [6]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [7]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,39.388662,True,small,0 days,54.142202,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.145904,19,0.078433
1,25.841943,True,medium,0 days,17.101856,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,0.098596,57,0.570055

In [9]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

# Read a csv file and correct dtypes

In [10]:
convert_dict = {
    'a': 'float64',
    'b': 'boolean',
    'c': 'category',
    'i': 'float64',
    'r': 'str',
    's': 'str',
    'x': 'float64',
    'y': 'Int64',
    'z': 'float64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [11]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,39.388662,True,small,0 days,54.142202,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.145904,19,0.078433
1,25.841943,True,medium,0 days,17.101856,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,0.098596,57,0.570055

In [12]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write three dataframes to three worksheets to an Excel workbook

In [13]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

# Read an Excel workbook with three worksheets and correct dtypes

## openpyxl

In [14]:
wb1 = load_workbook(filename='data/even_another_file.xlsx')
wb1.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [15]:
wb1ws1 = wb1['sheet_one']
from itertools import islice
data = wb1ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df1 = pd.DataFrame(data, columns=cols)

In [16]:
wb1df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,39.388662,True,small,0,54.142202,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.145904,19,0.078433
1,25.841943,True,medium,0,17.101856,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,0.098596,57,0.570055

In [17]:
wb1df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
wb1df1 = wb1df1.astype(convert_dict)
for column in time_delta_columns:
    wb1df1[column] = pd.to_timedelta(wb1df1[column])
wb1df1[parse_dates] = wb1df1[parse_dates].astype(dtype='datetime64[ns]')

In [19]:
wb1df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [20]:
wb1ws2 = wb1['sheet_two']
from itertools import islice
data = wb1ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df2 = pd.DataFrame(data, columns=cols)

In [21]:
wb1df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,81.343067,True,large,0,68.038313,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,-1.918777,63,0.483988
1,25.635353,False,medium,0,41.553712,1,female,2020-12-26 15:19:09,2020-12-26 15:19:09,-1.711074,19,0.860072

In [22]:
wb1df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [23]:
wb1df2 = wb1df2.astype(convert_dict)
for column in time_delta_columns:
    wb1df2[column] = pd.to_timedelta(wb1df2[column])
wb1df2[parse_dates] = wb1df2[parse_dates].astype(dtype='datetime64[ns]')

In [24]:
wb1df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [25]:
wb1ws3 = wb1['sheet_three']
from itertools import islice
data = wb1ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df3 = pd.DataFrame(data, columns=cols)

In [26]:
wb1df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,28.761685,False,medium,0,13.949897,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.496460,18,0.582901
1,41.392858,True,medium,0,27.218786,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,-0.468279,43,0.296075

In [27]:
wb1df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [28]:
wb1df3 = wb1df3.astype(convert_dict)
for column in time_delta_columns:
    wb1df3[column] = pd.to_timedelta(wb1df3[column])
wb1df3[parse_dates] = wb1df3[parse_dates].astype(dtype='datetime64[ns]')

In [29]:
wb1df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with three worksheets and correct dtypes

## pd.read_excel

In [30]:
wb2 = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [31]:
wb2

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  39.388662   True   small  0  54.142202  1    male 2020-12-25 15:19:09
 1  25.841943   True  medium  0  17.101856  1    male 2020-12-26 15:19:09
 2  69.178584  False   large  0  75.455598  1    male 2020-12-27 15:19:09
 3  68.164671   True   large  0  82.086060  1  female 2020-12-28 15:19:09

                     u         x   y         z
 0 2020-12-25 15:19:09  1.145904  19  0.078433
 1 2020-12-26 15:19:09  0.098596  57  0.570055
 2 2020-12-27 15:19:09 -1.694686  55  0.956087
 3 2020-12-28 15:19:09 -1.035811  25  0.873627  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  81.343067   True   large  0  68.038313  1    male 2020-12-25 15:19:09
 1  25.635353  False  medium  0  41.553712  1  female 2020-12-26 15:19:09
 2  56.639894   True  medium  0  50.342236  1    male 2020-12-27 15:19:09
 3  74.712051  False   small  0  47.510140  1  female 2020-12-28 15:19:09

                     u         x   y         z
 0 2020-12-25 15:19:09 -1.918777  63  0.483988
 1 2020-12-26 15:19:09 -1.711074  19  0.860072
 2 2020-12-27 15:19:09  1.354259  60  0.596831
 3 2020-12-28 15:19:09  0.536947  68  0.151428  ,
 'sheet_three':            a      b       c  d          i  r       s                   t  \
 0  28.761685  False  medium  0  13.949897  1    male 2020-12-25 15:19:09
 1  41.392858   True  medium  0  27.218786  1    male 2020-12-26 15:19:09
 2  30.920617   True   small  0  42.950702  0  female 2020-12-27 15:19:09
 3  75.659727   True   large  0  78.456286  0    male 2020-12-28 15:19:09

                     u         x   y         z
 0 2020-12-25 15:19:09  1.496460  18  0.582901
 1 2020-12-26 15:19:09 -0.468279  43  0.296075
 2 2020-12-27 15:19:09  0.298107  31  0.141050
 3 2020-12-28 15:19:09  0.536436  39  0.932489  }

In [32]:
wb2.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [33]:
wb2df1 = wb2['sheet_one']
wb2df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,39.388662,True,small,0,54.142202,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.145904,19,0.078433
1,25.841943,True,medium,0,17.101856,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,0.098596,57,0.570055

In [34]:
wb2df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [35]:
wb2df1 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df1[column] = pd.to_timedelta(wb2df1[column])
wb2df1[parse_dates] = wb2df1[parse_dates].astype(dtype='datetime64[ns]')

In [36]:
wb2df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [37]:
wb2df2 = wb2['sheet_two']
wb2df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,81.343067,True,large,0,68.038313,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,-1.918777,63,0.483988
1,25.635353,False,medium,0,41.553712,1,female,2020-12-26 15:19:09,2020-12-26 15:19:09,-1.711074,19,0.860072

In [38]:
wb2df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [39]:
wb2df2 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df2[column] = pd.to_timedelta(wb2df2[column])
wb2df2[parse_dates] = wb2df2[parse_dates].astype(dtype='datetime64[ns]')

In [40]:
wb2df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [41]:
wb2df3 = wb2['sheet_three']
wb2df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,28.761685,False,medium,0,13.949897,1,male,2020-12-25 15:19:09,2020-12-25 15:19:09,1.496460,18,0.582901
1,41.392858,True,medium,0,27.218786,1,male,2020-12-26 15:19:09,2020-12-26 15:19:09,-0.468279,43,0.296075

In [42]:
wb2df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [43]:
wb2df3 = wb2df3.astype(convert_dict)
for column in time_delta_columns:
    wb2df3[column] = pd.to_timedelta(wb2df3[column])
wb2df3[parse_dates] = wb2df3[parse_dates].astype(dtype='datetime64[ns]')

In [44]:
wb2df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with data and formulae in three worksheets

## openpyxl

In [45]:
wb3 = load_workbook(filename='data/file_with_formulae.xlsx')
wb3.sheetnames

['sheet_calcs_1', 'sheet_calcs_2', 'sheet_calcs_3']

In [46]:
wb3s1 = wb3['sheet_calcs_1']
from itertools import islice
data = wb3s1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df1 = pd.DataFrame(data, columns=cols)
wb3df1

   data power_two
0     1     =A2^2
1     3     =A3^2
2     6     =A4^2
3     4     =A5^2
4     7     =A6^2
5     2     =A7^2
6     8     =A8^2

In [47]:
wb3df1.dtypes

data          int64
power_two    object
dtype: object

In [48]:
wb3s2 = wb3['sheet_calcs_2']
from itertools import islice
data = wb3s2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df2 = pd.DataFrame(data, columns=cols)
wb3df2

   data power_three
0     3       =A2^3
1     6       =A3^3
2     4       =A4^3
3     7       =A5^3
4     2       =A6^3
5     8       =A7^3
6     1       =A8^3

In [49]:
wb3df2.dtypes

data            int64
power_three    object
dtype: object

In [50]:
wb3s3 = wb3['sheet_calcs_3']
from itertools import islice
data = wb3s3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df3 = pd.DataFrame(data, columns=cols)
wb3df3

   data power_four
0     6      =A2^4
1     4      =A3^4
2     7      =A4^4
3     2      =A5^4
4     8      =A6^4
5     1      =A7^4
6     3      =A8^4

In [51]:
wb3df3.dtypes

data           int64
power_four    object
dtype: object

## pd.read_excel

In [52]:
wb4 = pd.read_excel(
    io='data/file_with_formulae.xlsx',
    sheet_name=None,
    engine='openpyxl'
)
wb4.keys()

dict_keys(['sheet_calcs_1', 'sheet_calcs_2', 'sheet_calcs_3'])

In [53]:
wb4s1 = wb4['sheet_calcs_1']
wb4s1

   data  power_two
0     1          1
1     3          9
2     6         36
3     4         16
4     7         49
5     2          4
6     8         64

In [54]:
wb4s1.dtypes

data         int64
power_two    int64
dtype: object

In [55]:
wb4s2 = wb4['sheet_calcs_2']
wb4s2

   data  power_three
0     3           27
1     6          216
2     4           64
3     7          343
4     2            8
5     8          512
6     1            1

In [56]:
wb4s2.dtypes

data           int64
power_three    int64
dtype: object

In [57]:
wb4s3 = wb4['sheet_calcs_3']
wb4s3

   data  power_four
0     6        1296
1     4         256
2     7        2401
3     2          16
4     8        4096
5     1           1
6     3          81

In [58]:
wb4s3.dtypes

data          int64
power_four    int64
dtype: object