# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-24</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
</table>

# Introduction

- Create three dataframes
- Write one dataframe to a csv file
- Read a csv file and correct dtypes
- Write three dataframes to three worksheets to an Excel workbook
- Read an Excel workbook with three worksheets and correct dtypes
- Read an Excel workbook with data and formulae in three worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0 days,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0 days,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write one dataframe to a csv file

In [6]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [7]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0 days,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0 days,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [9]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

# Read a csv file and correct dtypes

In [10]:
convert_dict = {
    'a': 'float64',
    'b': 'boolean',
    'c': 'category',
    'i': 'float64',
    'r': 'str',
    's': 'str',
    'x': 'float64',
    'y': 'Int64',
    'z': 'float64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [11]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0 days,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0 days,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [12]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write three dataframes to three worksheets to an Excel workbook

In [13]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

# Read an Excel workbook with three worksheets and correct dtypes

## openpyxl

In [14]:
wb1 = load_workbook(filename='data/even_another_file.xlsx')
wb1.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [15]:
wb1ws1 = wb1['sheet_one']
from itertools import islice
data = wb1ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df1 = pd.DataFrame(data, columns=cols)

In [16]:
wb1df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [17]:
wb1df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
wb1df1 = wb1df1.astype(convert_dict)
for column in time_delta_columns:
    wb1df1[column] = pd.to_timedelta(wb1df1[column])
wb1df1[parse_dates] = wb1df1[parse_dates].astype(dtype='datetime64[ns]')

In [19]:
wb1df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [20]:
wb1ws2 = wb1['sheet_two']
from itertools import islice
data = wb1ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df2 = pd.DataFrame(data, columns=cols)

In [21]:
wb1df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,16.601236,True,large,0,59.604143,1,male,2020-12-25 14:50:41,2020-12-25 14:50:41,-1.167990,63,0.226555
1,78.214628,True,medium,0,78.282357,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.341662,44,0.431684

In [22]:
wb1df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [23]:
wb1df2 = wb1df2.astype(convert_dict)
for column in time_delta_columns:
    wb1df2[column] = pd.to_timedelta(wb1df2[column])
wb1df2[parse_dates] = wb1df2[parse_dates].astype(dtype='datetime64[ns]')

In [24]:
wb1df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [25]:
wb1ws3 = wb1['sheet_three']
from itertools import islice
data = wb1ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df3 = pd.DataFrame(data, columns=cols)

In [26]:
wb1df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,43.330201,True,large,0,68.164351,0,male,2020-12-25 14:50:41,2020-12-25 14:50:41,0.529633,39,0.857421
1,69.063558,True,large,0,70.618058,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,1.043226,20,0.244136

In [27]:
wb1df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [28]:
wb1df3 = wb1df3.astype(convert_dict)
for column in time_delta_columns:
    wb1df3[column] = pd.to_timedelta(wb1df3[column])
wb1df3[parse_dates] = wb1df3[parse_dates].astype(dtype='datetime64[ns]')

In [29]:
wb1df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with three worksheets and correct dtypes

## pd.read_excel

In [30]:
wb2 = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [31]:
wb2

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  31.785191  False   small  0  73.155098  0  female 2020-12-25 14:50:41
 1  28.500790  False   small  0  72.080974  0    male 2020-12-26 14:50:41
 2  69.107299   True  medium  0  25.481059  1  female 2020-12-27 14:50:41
 3  78.887376  False  medium  0  80.917736  0    male 2020-12-28 14:50:41

                     u         x   y         z
 0 2020-12-25 14:50:41 -0.730365  22  0.773560
 1 2020-12-26 14:50:41  0.411816  23  0.808246
 2 2020-12-27 14:50:41 -1.715238  65  0.768354
 3 2020-12-28 14:50:41 -0.843295  16  0.246877  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  16.601236   True   large  0  59.604143  1    male 2020-12-25 14:50:41
 1  78.214628   True  medium  0  78.282357  0    male 2020-12-26 14:50:41
 2  44.354689  False   small  0  35.700104  1  female 2020-12-27 14:50:41
 3  43.807615   True  medium  0  70.484357  0    male 2020-12-28 14:50:41

                     u         x   y         z
 0 2020-12-25 14:50:41 -1.167990  63  0.226555
 1 2020-12-26 14:50:41  0.341662  44  0.431684
 2 2020-12-27 14:50:41 -0.135005  39  0.379139
 3 2020-12-28 14:50:41 -0.869218  53  0.316295  ,
 'sheet_three':            a      b      c  d          i  r       s                   t  \
 0  43.330201   True  large  0  68.164351  0    male 2020-12-25 14:50:41
 1  69.063558   True  large  0  70.618058  0    male 2020-12-26 14:50:41
 2  50.520176   True  small  0  66.078356  1  female 2020-12-27 14:50:41
 3  53.927021  False  small  0  63.163634  1    male 2020-12-28 14:50:41

                     u         x   y         z
 0 2020-12-25 14:50:41  0.529633  39  0.857421
 1 2020-12-26 14:50:41  1.043226  20  0.244136
 2 2020-12-27 14:50:41 -0.152845  41  0.934441
 3 2020-12-28 14:50:41  0.681467  50  0.015140  }

In [32]:
wb2.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [33]:
wb2df1 = wb2['sheet_one']
wb2df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [34]:
wb2df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [35]:
wb2df1 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df1[column] = pd.to_timedelta(wb2df1[column])
wb2df1[parse_dates] = wb2df1[parse_dates].astype(dtype='datetime64[ns]')

In [36]:
wb2df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [37]:
wb2df2 = wb2['sheet_one']
wb2df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [38]:
wb2df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [39]:
wb2df2 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df2[column] = pd.to_timedelta(wb2df2[column])
wb2df2[parse_dates] = wb2df2[parse_dates].astype(dtype='datetime64[ns]')

In [40]:
wb2df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [41]:
wb2df3 = wb2['sheet_one']
wb2df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,31.785191,False,small,0,73.155098,0,female,2020-12-25 14:50:41,2020-12-25 14:50:41,-0.730365,22,0.773560
1,28.500790,False,small,0,72.080974,0,male,2020-12-26 14:50:41,2020-12-26 14:50:41,0.411816,23,0.808246

In [42]:
wb2df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [43]:
wb2df3 = wb2df3.astype(convert_dict)
for column in time_delta_columns:
    wb2df3[column] = pd.to_timedelta(wb2df3[column])
wb2df3[parse_dates] = wb2df3[parse_dates].astype(dtype='datetime64[ns]')

In [44]:
wb2df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with data and formulae in three worksheets

## openpyxl

In [45]:
df_workbook = load_workbook(filename='data/file_with_formulae.xlsx')
df_workbook.sheetnames

['sheet_calcs']

In [46]:
wscalcs = df_workbook['sheet_calcs']
from itertools import islice
data = wscalcs.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_wb_formulae = pd.DataFrame(data, columns=cols)
df_wb_formulae

   data formulae
0     1    =A2^2
1     3    =A3^2
2     6    =A4^2
3     4    =A5^2
4     7    =A6^2
5     2    =A7^2
6     8    =A8^2

In [47]:
df_wb_formulae.dtypes

data         int64
formulae    object
dtype: object

## pd.read_excel

In [48]:
df_workbook = pd.read_excel(
    io='data/file_with_formulae.xlsx',
    sheet_name=None,
    engine='openpyxl'
)
df_workbook.keys()

dict_keys(['sheet_calcs'])

In [49]:
df_wb_formulae = df_workbook['sheet_calcs']
df_wb_formulae

   data  formulae
0     1         1
1     3         9
2     6        36
3     4        16
4     7        49
5     2         4
6     8        64

In [50]:
df_wb_formulae.dtypes

data        int64
formulae    int64
dtype: object