# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-23</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">data/cloquet_two_weeks_60_min.csv<br />
                                    data/cloquet_two_weeks_30_min.csv<br />
                                    data/cloquet_two_weeks_15_min.csv
        </td>
    </tr>
</table>

# Introduction

- Write a dataframe to a csv file
- Write a dataframe to an Excel file with one worksheet
- Write several dataframes to an Excel file with multiple worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,46.888996,False,large,0 days,77.002097,1,female,2020-12-23 15:17:06,2020-12-23 15:17:06,0.488245,25,0.526945
1,66.729926,False,large,0 days,82.944546,1,male,2020-12-24 15:17:06,2020-12-24 15:17:06,0.411465,67,0.548097

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write a dataframe to a csv file

In [6]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [7]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,46.888996,False,large,0 days,77.002097,1,female,2020-12-23 15:17:06,2020-12-23 15:17:06,0.488245,25,0.526945
1,66.729926,False,large,0 days,82.944546,1,male,2020-12-24 15:17:06,2020-12-24 15:17:06,0.411465,67,0.548097

In [9]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

## Fix dtypes on import

In [10]:
convert_dict = {
    'a': 'float64',
    'b': 'boolean',
    'c': 'category',
    'i': 'float64',
    'r': 'str',
    's': 'str',
    'x': 'float64',
    'y': 'Int64',
    'z': 'float64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [11]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,46.888996,False,large,0 days,77.002097,1,female,2020-12-23 15:17:06,2020-12-23 15:17:06,0.488245,25,0.526945
1,66.729926,False,large,0 days,82.944546,1,male,2020-12-24 15:17:06,2020-12-24 15:17:06,0.411465,67,0.548097

In [12]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

## Write dataframes to an Excel workbook

In [13]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

## Read worksheets from an Excel workbook

In [14]:
wb2 = load_workbook(filename='data/even_another_file.xlsx')
wb2.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [15]:
ws1 = wb2['sheet_one']
from itertools import islice
data = ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_one = pd.DataFrame(data, columns=cols)

In [16]:
df_one.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,46.888996,False,large,0,77.002097,1,female,2020-12-23 15:17:06,2020-12-23 15:17:06,0.488245,25,0.526945
1,66.729926,False,large,0,82.944546,1,male,2020-12-24 15:17:06,2020-12-24 15:17:06,0.411465,67,0.548097

In [17]:
df_one.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
df_one = df_one.astype(convert_dict)
for column in time_delta_columns:
    df_one[column] = pd.to_timedelta(df_one[column])
df_one[parse_dates] = df_one[parse_dates].astype(dtype='datetime64[ns]')

In [19]:
df_one.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [20]:
ws2 = wb2['sheet_two']
from itertools import islice
data = ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_two = pd.DataFrame(data, columns=cols)

In [21]:
df_two.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [22]:
df_two = df_two.astype(convert_dict)
for column in time_delta_columns:
    df_two[column] = pd.to_timedelta(df_two[column])
df_two[parse_dates] = df_two[parse_dates].astype(dtype='datetime64[ns]')

In [23]:
df_two.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [24]:
ws3 = wb2['sheet_two']
from itertools import islice
data = ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_three = pd.DataFrame(data, columns=cols)

In [25]:
df_three.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [26]:
df_three = df_three.astype(convert_dict)
for column in time_delta_columns:
    df_three[column] = pd.to_timedelta(df_three[column])
df_three[parse_dates] = df_three[parse_dates].astype(dtype='datetime64[ns]')

In [27]:
df_three.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

## Read worksheets from an Excel workbook

In [28]:
df_workbook = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [29]:
df_workbook

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  46.888996  False   large  0  77.002097  1  female 2020-12-23 15:17:06
 1  66.729926  False   large  0  82.944546  1    male 2020-12-24 15:17:06
 2  75.589379  False  medium  0  15.613897  1    male 2020-12-25 15:17:06
 3  23.151756  False  medium  0  78.150146  0  female 2020-12-26 15:17:06

                     u         x   y         z
 0 2020-12-23 15:17:06  0.488245  25  0.526945
 1 2020-12-24 15:17:06  0.411465  67  0.548097
 2 2020-12-25 15:17:06  1.665479  45  0.784103
 3 2020-12-26 15:17:06  0.573174  66  0.553719  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  20.324274  False  medium  0  71.405828  1  female 2020-12-23 15:17:06
 1  77.051065   True   small  0  77.496006  0  female 2020-12-24 15:17:06
 2  42.266219  False  medium  0  77.038857  0  female 2020-12-25 15:17:06
 3  25.845032   True   small  0  52.301906  0    male 2020-12-26 15:17:06

                     u         x   y         z
 0 2020-12-23 15:17:06  0.217702  62  0.923252
 1 2020-12-24 15:17:06  1.641900  45  0.020681
 2 2020-12-25 15:17:06  0.551853  36  0.208900
 3 2020-12-26 15:17:06  1.200583  18  0.997153  ,
 'sheet_three':            a      b       c  d          i  r       s                   t  \
 0  79.978725  False   large  0  15.826318  0  female 2020-12-23 15:17:06
 1  15.588784  False   small  0  49.941339  0    male 2020-12-24 15:17:06
 2  65.160782  False  medium  0  26.446444  1    male 2020-12-25 15:17:06
 3  50.157848  False   small  0  72.738820  0  female 2020-12-26 15:17:06

                     u         x   y         z
 0 2020-12-23 15:17:06  0.061919  44  0.789051
 1 2020-12-24 15:17:06  0.922130  21  0.788105
 2 2020-12-25 15:17:06  0.222437  29  0.893226
 3 2020-12-26 15:17:06  0.109949  30  0.928009  }

In [30]:
df_workbook.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [31]:
df_01 = df_workbook['sheet_one']
df_01.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,46.888996,False,large,0,77.002097,1,female,2020-12-23 15:17:06,2020-12-23 15:17:06,0.488245,25,0.526945
1,66.729926,False,large,0,82.944546,1,male,2020-12-24 15:17:06,2020-12-24 15:17:06,0.411465,67,0.548097

In [32]:
df_01.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [33]:
df_01 = df_01.astype(convert_dict)
for column in time_delta_columns:
    df_01[column] = pd.to_timedelta(df_01[column])
df_01[parse_dates] = df_01[parse_dates].astype(dtype='datetime64[ns]')

In [34]:
df_01.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# References

- [pandas to_excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

- [pandas to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)

- [pandas API reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

- [pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)