# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-23</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">data/cloquet_two_weeks_60_min.csv<br />
                                    data/cloquet_two_weeks_30_min.csv<br />
                                    data/cloquet_two_weeks_15_min.csv
        </td>
    </tr>
</table>

# Introduction

- Write a dataframe to a csv file
- Write a dataframe to an Excel file with one worksheet
- Write several dataframes to an Excel file with multiple worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.002856,False,medium,0 days,60.454865,1,female,2020-12-23 11:18:56,2020-12-23 11:18:56,0.225280,64,0.185316
1,18.813314,False,large,0 days,15.527803,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-2.358112,13,0.088672

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write a dataframe to a csv file

In [6]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [7]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.002856,False,medium,0 days,60.454865,1,female,2020-12-23 11:18:56,2020-12-23 11:18:56,0.225280,64,0.185316
1,18.813314,False,large,0 days,15.527803,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-2.358112,13,0.088672

In [9]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

## Fix dtypes on import

In [10]:
convert_dict = {
    'b': 'boolean',
    'c': 'category',
    'r': 'str',
    'y': 'Int64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [11]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.002856,False,medium,0 days,60.454865,1,female,2020-12-23 11:18:56,2020-12-23 11:18:56,0.225280,64,0.185316
1,18.813314,False,large,0 days,15.527803,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-2.358112,13,0.088672

In [12]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

## Write dataframes to an Excel workbook

In [13]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

In [14]:
wb2 = load_workbook(filename='data/even_another_file.xlsx')
wb2.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

## Read worksheets from an Excel workbook

In [15]:
ws1 = wb2['sheet_one']
from itertools import islice
data = ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_one = pd.DataFrame(data, columns=cols)

In [16]:
df_one.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.002856,False,medium,0,60.454865,1,female,2020-12-23 11:18:56,2020-12-23 11:18:56,0.225280,64,0.185316
1,18.813314,False,large,0,15.527803,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-2.358112,13,0.088672

In [17]:
df_one.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
ws2 = wb2['sheet_two']
from itertools import islice
data = ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_two = pd.DataFrame(data, columns=cols)

In [19]:
df_two.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [20]:
ws3 = wb2['sheet_two']
from itertools import islice
data = ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_three = pd.DataFrame(data, columns=cols)

## Read worksheets from an Excel workbook

In [21]:
df_workbook = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [22]:
df_workbook

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  57.002856  False  medium  0  60.454865  1  female 2020-12-23 11:18:56
 1  18.813314  False   large  0  15.527803  1  female 2020-12-24 11:18:56
 2  20.652550  False   large  0  71.974977  1  female 2020-12-25 11:18:56
 3  70.641494  False   large  0  21.021623  0    male 2020-12-26 11:18:56

                     u         x   y         z
 0 2020-12-23 11:18:56  0.225280  64  0.185316
 1 2020-12-24 11:18:56 -2.358112  13  0.088672
 2 2020-12-25 11:18:56 -0.778648  51  0.928037
 3 2020-12-26 11:18:56  1.582262  34  0.307910  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  32.334172   True   large  0  16.249854  0    male 2020-12-23 11:18:56
 1  50.138266  False   large  0  46.644675  0  female 2020-12-24 11:18:56
 2  20.804545   True  medium  0  60.421050  1  female 2020-12-25 11:18:56
 3  20.671584  False   large  0  27.130328  1    male 2020-12-26 11:18:56

                     u         x   y         z
 0 2020-12-23 11:18:56  0.567531  29  0.798689
 1 2020-12-24 11:18:56 -0.137355  28  0.144155
 2 2020-12-25 11:18:56 -0.059044  44  0.519841
 3 2020-12-26 11:18:56 -0.699673  26  0.284643  ,
 'sheet_three':            a      b      c  d          i  r       s                   t  \
 0  59.702915  False  small  0  32.828658  1    male 2020-12-23 11:18:56
 1  44.533051   True  small  0  68.855374  1  female 2020-12-24 11:18:56
 2  52.623384  False  small  0  24.618417  0    male 2020-12-25 11:18:56
 3  60.674343  False  large  0  69.022784  0    male 2020-12-26 11:18:56

                     u         x   y         z
 0 2020-12-23 11:18:56  0.183826  30  0.096997
 1 2020-12-24 11:18:56 -0.497217  37  0.818054
 2 2020-12-25 11:18:56 -0.503530  39  0.119988
 3 2020-12-26 11:18:56  0.286587  25  0.880388  }

In [23]:
df_workbook.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [24]:
df_01 = df_workbook['sheet_one']
df_01.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.002856,False,medium,0,60.454865,1,female,2020-12-23 11:18:56,2020-12-23 11:18:56,0.225280,64,0.185316
1,18.813314,False,large,0,15.527803,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-2.358112,13,0.088672

In [25]:
df_01.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [26]:
for key in df_workbook.keys():
    print(key)

sheet_one
sheet_two
sheet_three

In [27]:
df_01 = df_workbook[key]
df_01.head()

,a,b,c,d,i,r,s,t,u,x,y,z
0,59.702915,False,small,0,32.828658,1,male,2020-12-23 11:18:56,2020-12-23 11:18:56,0.183826,30,0.096997
1,44.533051,True,small,0,68.855374,1,female,2020-12-24 11:18:56,2020-12-24 11:18:56,-0.497217,37,0.818054
2,52.623384,False,small,0,24.618417,0,male,2020-12-25 11:18:56,2020-12-25 11:18:56,-0.503530,39,0.119988
3,60.674343,False,large,0,69.022784,0,male,2020-12-26 11:18:56,2020-12-26 11:18:56,0.286587,25,0.880388

In [28]:
df_01.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

# References

- [pandas to_excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

- [pandas to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)

- [pandas API reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

- [pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)