# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-24</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">data/cloquet_two_weeks_60_min.csv<br />
                                    data/cloquet_two_weeks_30_min.csv<br />
                                    data/cloquet_two_weeks_15_min.csv
        </td>
    </tr>
</table>

# Introduction

- Create three dataframes
- Write one dataframe to a csv file
- Read a csv file and correct dtypes
- Write three dataframes to three worksheets to an Excel workbook
- Read an Excel workbook with three worksheets and correct dtypes
- Read an Excel workbook with data and formulae in three worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,23.336302,True,medium,0 days,39.055920,0,male,2020-12-24 16:58:05,2020-12-24 16:58:05,0.378338,69,0.838363
1,26.548276,True,large,0 days,51.740972,0,female,2020-12-25 16:58:05,2020-12-25 16:58:05,0.664111,53,0.348569

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write one dataframe to a csv file

In [6]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [7]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,23.336302,True,medium,0 days,39.055920,0,male,2020-12-24 16:58:05,2020-12-24 16:58:05,0.378338,69,0.838363
1,26.548276,True,large,0 days,51.740972,0,female,2020-12-25 16:58:05,2020-12-25 16:58:05,0.664111,53,0.348569

In [9]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

# Read a csv file and correct dtypes

In [10]:
convert_dict = {
    'a': 'float64',
    'b': 'boolean',
    'c': 'category',
    'i': 'float64',
    'r': 'str',
    's': 'str',
    'x': 'float64',
    'y': 'Int64',
    'z': 'float64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [11]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,23.336302,True,medium,0 days,39.055920,0,male,2020-12-24 16:58:05,2020-12-24 16:58:05,0.378338,69,0.838363
1,26.548276,True,large,0 days,51.740972,0,female,2020-12-25 16:58:05,2020-12-25 16:58:05,0.664111,53,0.348569

In [12]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write three dataframes to three worksheets to an Excel workbook

In [13]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

# Read an Excel workbook with three worksheets and correct dtypes

## Use openpyxl

In [14]:
wb1 = load_workbook(filename='data/even_another_file.xlsx')
wb1.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [15]:
wb1ws1 = wb1['sheet_one']
from itertools import islice
data = wb1ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df1 = pd.DataFrame(data, columns=cols)

In [16]:
wb1df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,23.336302,True,medium,0,39.055920,0,male,2020-12-24 16:58:05,2020-12-24 16:58:05,0.378338,69,0.838363
1,26.548276,True,large,0,51.740972,0,female,2020-12-25 16:58:05,2020-12-25 16:58:05,0.664111,53,0.348569

In [17]:
wb1df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
wb1df1 = wb1df1.astype(convert_dict)
for column in time_delta_columns:
    wb1df1[column] = pd.to_timedelta(wb1df1[column])
wb1df1[parse_dates] = wb1df1[parse_dates].astype(dtype='datetime64[ns]')

In [19]:
wb1df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [20]:
wb1ws2 = wb1['sheet_two']
from itertools import islice
data = wb1ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df2 = pd.DataFrame(data, columns=cols)

In [21]:
wb1df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [22]:
wb1df2 = wb1df2.astype(convert_dict)
for column in time_delta_columns:
    wb1df2[column] = pd.to_timedelta(wb1df2[column])
wb1df2[parse_dates] = wb1df2[parse_dates].astype(dtype='datetime64[ns]')

In [23]:
wb1df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [24]:
wb1ws3 = wb1['sheet_two']
from itertools import islice
data = wb1ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df3 = pd.DataFrame(data, columns=cols)

In [25]:
wb1df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [26]:
wb1df3 = wb1df3.astype(convert_dict)
for column in time_delta_columns:
    wb1df3[column] = pd.to_timedelta(wb1df3[column])
wb1df3[parse_dates] = wb1df3[parse_dates].astype(dtype='datetime64[ns]')

In [27]:
wb1df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with three worksheets and correct dtypes

Method 2

In [28]:
df_workbook = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [29]:
df_workbook

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  23.336302   True  medium  0  39.055920  0    male 2020-12-24 16:58:05
 1  26.548276   True   large  0  51.740972  0  female 2020-12-25 16:58:05
 2  46.787757  False   large  0  30.230529  1  female 2020-12-26 16:58:05
 3  20.137402  False   large  0  69.417216  0    male 2020-12-27 16:58:05

                     u         x   y         z
 0 2020-12-24 16:58:05  0.378338  69  0.838363
 1 2020-12-25 16:58:05  0.664111  53  0.348569
 2 2020-12-26 16:58:05  0.259209  49  0.846472
 3 2020-12-27 16:58:05 -1.560916  29  0.567417  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  51.186693  False  medium  0  50.328007  1    male 2020-12-24 16:58:05
 1  28.915111  False  medium  0  29.438579  0  female 2020-12-25 16:58:05
 2  24.683883   True   large  0  77.630091  1  female 2020-12-26 16:58:05
 3  75.259184  False   small  0  23.030636  1  female 2020-12-27 16:58:05

                     u         x   y         z
 0 2020-12-24 16:58:05  0.555558  27  0.601070
 1 2020-12-25 16:58:05 -0.458682  30  0.761529
 2 2020-12-26 16:58:05 -0.456209  67  0.129408
 3 2020-12-27 16:58:05  0.112608  27  0.646711  ,
 'sheet_three':            a      b       c  d          i  r       s                   t  \
 0  35.834792   True   large  0  16.886309  1  female 2020-12-24 16:58:05
 1  43.028499  False   small  0  29.736095  1  female 2020-12-25 16:58:05
 2  82.453559   True  medium  0  51.855607  0  female 2020-12-26 16:58:05
 3  25.051808   True  medium  0  44.099982  0  female 2020-12-27 16:58:05

                     u         x   y         z
 0 2020-12-24 16:58:05  0.929430  63  0.542694
 1 2020-12-25 16:58:05 -0.605040  49  0.914458
 2 2020-12-26 16:58:05  0.602312  31  0.554772
 3 2020-12-27 16:58:05  0.736003  58  0.413457  }

In [30]:
df_workbook.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [31]:
df_01 = df_workbook['sheet_one']
df_01.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,23.336302,True,medium,0,39.055920,0,male,2020-12-24 16:58:05,2020-12-24 16:58:05,0.378338,69,0.838363
1,26.548276,True,large,0,51.740972,0,female,2020-12-25 16:58:05,2020-12-25 16:58:05,0.664111,53,0.348569

In [32]:
df_01.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [33]:
df_01 = df_01.astype(convert_dict)
for column in time_delta_columns:
    df_01[column] = pd.to_timedelta(df_01[column])
df_01[parse_dates] = df_01[parse_dates].astype(dtype='datetime64[ns]')

In [34]:
df_01.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with data and formulae in three worksheets

## Method one

In [35]:
df_workbook = load_workbook(filename='data/file_with_formulae.xlsx')
df_workbook.sheetnames

['sheet_calcs']

In [36]:
wscalcs = df_workbook['sheet_calcs']
from itertools import islice
data = wscalcs.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_wb_formulae = pd.DataFrame(data, columns=cols)
df_wb_formulae

   data formulae
0     1    =A2^2
1     3    =A3^2
2     6    =A4^2
3     4    =A5^2
4     7    =A6^2
5     2    =A7^2
6     8    =A8^2

In [37]:
df_wb_formulae.dtypes

data         int64
formulae    object
dtype: object

## Method two

In [38]:
df_workbook = pd.read_excel(
    io='data/file_with_formulae.xlsx',
    sheet_name=None,
    engine='openpyxl'
)
df_workbook.keys()

dict_keys(['sheet_calcs'])

In [39]:
df_wb_formulae = df_workbook['sheet_calcs']
df_wb_formulae

   data  formulae
0     1         1
1     3         9
2     6        36
3     4        16
4     7        49
5     2         4
6     8        64

In [40]:
df_wb_formulae.dtypes

data        int64
formulae    int64
dtype: object