# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-26</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
</table>

# Introduction

- Create three dataframes
- Write one dataframe to a csv file
- Read a csv file and correct dtypes
- Write three dataframes to three worksheets to an Excel workbook
- Read an Excel workbook with three worksheets and correct dtypes
- Read an Excel workbook with data and formulae in three worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

# Create three dataframes

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,45.315618,True,large,0 days,82.146059,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,-1.473549,57,0.785887
1,60.961185,False,medium,0 days,51.174391,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.009889,16,0.465703

In [5]:
df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [6]:
df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,58.825243,True,medium,0 days,73.685292,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,1.314117,64,0.535205
1,39.407059,True,small,0 days,14.166829,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,-0.924519,62,0.758972

In [7]:
df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [8]:
df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.349538,True,medium,0 days,45.243835,0,female,2020-12-26 17:07:28,2020-12-26 17:07:28,-0.246370,23,0.237944
1,13.103858,True,medium,0 days,43.050688,0,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.911007,23,0.420804

In [9]:
df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write one dataframe to a csv file

In [10]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [11]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [12]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,45.315618,True,large,0 days,82.146059,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,-1.473549,57,0.785887
1,60.961185,False,medium,0 days,51.174391,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.009889,16,0.465703

In [13]:
just_a_test.dtypes

a    float64
b       bool
c     object
d     object
i    float64
r      int64
s     object
t     object
u     object
x    float64
y      int64
z    float64
dtype: object

# Read a csv file and correct dtypes

In [14]:
convert_dict = {
    'a': 'float64',
    'b': 'boolean',
    'c': 'category',
    'i': 'float64',
    'r': 'str',
    's': 'str',
    'x': 'float64',
    'y': 'Int64',
    'z': 'float64'
}
parse_dates = ['t', 'u']
time_delta_columns = ['d']
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv',
    dtype=convert_dict,
    parse_dates=parse_dates,
    time_delta_columns=time_delta_columns
)

In [15]:
just_a_test.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,45.315618,True,large,0 days,82.146059,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,-1.473549,57,0.785887
1,60.961185,False,medium,0 days,51.174391,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.009889,16,0.465703

In [16]:
just_a_test.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Write three dataframes to three worksheets to an Excel workbook

In [17]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

# Read an Excel workbook with three worksheets and correct dtypes

## openpyxl

In [18]:
wb1 = load_workbook(filename='data/even_another_file.xlsx')
wb1.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [19]:
wb1ws1 = wb1['sheet_one']
from itertools import islice
data = wb1ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df1 = pd.DataFrame(data, columns=cols)

In [20]:
wb1df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,45.315618,True,large,0,82.146059,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,-1.473549,57,0.785887
1,60.961185,False,medium,0,51.174391,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.009889,16,0.465703

In [21]:
wb1df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [22]:
wb1df1 = wb1df1.astype(convert_dict)
for column in time_delta_columns:
    wb1df1[column] = pd.to_timedelta(wb1df1[column])
wb1df1[parse_dates] = wb1df1[parse_dates].astype(dtype='datetime64[ns]')

In [23]:
wb1df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [24]:
wb1ws2 = wb1['sheet_two']
from itertools import islice
data = wb1ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df2 = pd.DataFrame(data, columns=cols)

In [25]:
wb1df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,58.825243,True,medium,0,73.685292,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,1.314117,64,0.535205
1,39.407059,True,small,0,14.166829,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,-0.924519,62,0.758972

In [26]:
wb1df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [27]:
wb1df2 = wb1df2.astype(convert_dict)
for column in time_delta_columns:
    wb1df2[column] = pd.to_timedelta(wb1df2[column])
wb1df2[parse_dates] = wb1df2[parse_dates].astype(dtype='datetime64[ns]')

In [28]:
wb1df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [29]:
wb1ws3 = wb1['sheet_three']
from itertools import islice
data = wb1ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb1df3 = pd.DataFrame(data, columns=cols)

In [30]:
wb1df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.349538,True,medium,0,45.243835,0,female,2020-12-26 17:07:28,2020-12-26 17:07:28,-0.246370,23,0.237944
1,13.103858,True,medium,0,43.050688,0,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.911007,23,0.420804

In [31]:
wb1df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [32]:
wb1df3 = wb1df3.astype(convert_dict)
for column in time_delta_columns:
    wb1df3[column] = pd.to_timedelta(wb1df3[column])
wb1df3[parse_dates] = wb1df3[parse_dates].astype(dtype='datetime64[ns]')

In [33]:
wb1df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with three worksheets and correct dtypes

## pd.read_excel

In [34]:
wb2 = pd.read_excel(
    io=path,
    sheet_name=None,
    engine='openpyxl'
)

In [35]:
wb2

{'sheet_one':            a      b       c  d          i  r       s                   t  \
 0  45.315618   True   large  0  82.146059  1    male 2020-12-26 17:07:28
 1  60.961185  False  medium  0  51.174391  1  female 2020-12-27 17:07:28
 2  26.251705   True   large  0  27.926681  1    male 2020-12-28 17:07:28
 3  77.196100   True   large  0  60.786567  1    male 2020-12-29 17:07:28

                     u         x   y         z
 0 2020-12-26 17:07:28 -1.473549  57  0.785887
 1 2020-12-27 17:07:28  0.009889  16  0.465703
 2 2020-12-28 17:07:28  0.440999  39  0.732387
 3 2020-12-29 17:07:28 -0.514946  65  0.456438  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  58.825243   True  medium  0  73.685292  1    male 2020-12-26 17:07:28
 1  39.407059   True   small  0  14.166829  1  female 2020-12-27 17:07:28
 2  35.618495   True  medium  0  73.449455  1  female 2020-12-28 17:07:28
 3  70.073756  False   large  0  38.895496  0  female 2020-12-29 17:07:28

                     u         x   y         z
 0 2020-12-26 17:07:28  1.314117  64  0.535205
 1 2020-12-27 17:07:28 -0.924519  62  0.758972
 2 2020-12-28 17:07:28  0.151097  14  0.210246
 3 2020-12-29 17:07:28  0.702040  35  0.497066  ,
 'sheet_three':            a     b       c  d          i  r       s                   t  \
 0  57.349538  True  medium  0  45.243835  0  female 2020-12-26 17:07:28
 1  13.103858  True  medium  0  43.050688  0  female 2020-12-27 17:07:28
 2  37.043033  True  medium  0  71.439587  1    male 2020-12-28 17:07:28
 3  42.250236  True   large  0  66.742072  0    male 2020-12-29 17:07:28

                     u         x   y         z
 0 2020-12-26 17:07:28 -0.246370  23  0.237944
 1 2020-12-27 17:07:28  0.911007  23  0.420804
 2 2020-12-28 17:07:28 -0.364387  58  0.395047
 3 2020-12-29 17:07:28 -0.314272  18  0.579708  }

In [36]:
wb2.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [37]:
wb2df1 = wb2['sheet_one']
wb2df1.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,45.315618,True,large,0,82.146059,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,-1.473549,57,0.785887
1,60.961185,False,medium,0,51.174391,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.009889,16,0.465703

In [38]:
wb2df1.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [39]:
wb2df1 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df1[column] = pd.to_timedelta(wb2df1[column])
wb2df1[parse_dates] = wb2df1[parse_dates].astype(dtype='datetime64[ns]')

In [40]:
wb2df1.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [41]:
wb2df2 = wb2['sheet_two']
wb2df2.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,58.825243,True,medium,0,73.685292,1,male,2020-12-26 17:07:28,2020-12-26 17:07:28,1.314117,64,0.535205
1,39.407059,True,small,0,14.166829,1,female,2020-12-27 17:07:28,2020-12-27 17:07:28,-0.924519,62,0.758972

In [42]:
wb2df2.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [43]:
wb2df2 = wb2df1.astype(convert_dict)
for column in time_delta_columns:
    wb2df2[column] = pd.to_timedelta(wb2df2[column])
wb2df2[parse_dates] = wb2df2[parse_dates].astype(dtype='datetime64[ns]')

In [44]:
wb2df2.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

In [45]:
wb2df3 = wb2['sheet_three']
wb2df3.head(2)

,a,b,c,d,i,r,s,t,u,x,y,z
0,57.349538,True,medium,0,45.243835,0,female,2020-12-26 17:07:28,2020-12-26 17:07:28,-0.246370,23,0.237944
1,13.103858,True,medium,0,43.050688,0,female,2020-12-27 17:07:28,2020-12-27 17:07:28,0.911007,23,0.420804

In [46]:
wb2df3.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r             int64
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [47]:
wb2df3 = wb2df3.astype(convert_dict)
for column in time_delta_columns:
    wb2df3[column] = pd.to_timedelta(wb2df3[column])
wb2df3[parse_dates] = wb2df3[parse_dates].astype(dtype='datetime64[ns]')

In [48]:
wb2df3.dtypes

a            float64
b            boolean
c           category
d    timedelta64[ns]
i            float64
r             object
s             object
t     datetime64[ns]
u     datetime64[ns]
x            float64
y              Int64
z            float64
dtype: object

# Read an Excel workbook with data and formulae in three worksheets

## openpyxl

In [49]:
wb3 = load_workbook(filename='data/file_with_formulae.xlsx')
wb3.sheetnames

['sheet_calcs_1', 'sheet_calcs_2', 'sheet_calcs_3']

In [50]:
wb3s1 = wb3['sheet_calcs_1']
from itertools import islice
data = wb3s1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df1 = pd.DataFrame(data, columns=cols)
wb3df1

   data power_two
0     1     =A2^2
1     3     =A3^2
2     6     =A4^2
3     4     =A5^2
4     7     =A6^2
5     2     =A7^2
6     8     =A8^2

In [51]:
wb3df1.dtypes

data          int64
power_two    object
dtype: object

In [52]:
wb3s2 = wb3['sheet_calcs_2']
from itertools import islice
data = wb3s2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df2 = pd.DataFrame(data, columns=cols)
wb3df2

   data power_three
0     3       =A2^3
1     6       =A3^3
2     4       =A4^3
3     7       =A5^3
4     2       =A6^3
5     8       =A7^3
6     1       =A8^3

In [53]:
wb3df2.dtypes

data            int64
power_three    object
dtype: object

In [54]:
wb3s3 = wb3['sheet_calcs_3']
from itertools import islice
data = wb3s3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
wb3df3 = pd.DataFrame(data, columns=cols)
wb3df3

   data power_four
0     6      =A2^4
1     4      =A3^4
2     7      =A4^4
3     2      =A5^4
4     8      =A6^4
5     1      =A7^4
6     3      =A8^4

In [55]:
wb3df3.dtypes

data           int64
power_four    object
dtype: object

## pd.read_excel

In [56]:
wb4 = pd.read_excel(
    io='data/file_with_formulae.xlsx',
    sheet_name=None,
    engine='openpyxl'
)
wb4.keys()

dict_keys(['sheet_calcs_1', 'sheet_calcs_2', 'sheet_calcs_3'])

In [57]:
wb4s1 = wb4['sheet_calcs_1']
wb4s1

   data  power_two
0     1          1
1     3          9
2     6         36
3     4         16
4     7         49
5     2          4
6     8         64

In [58]:
wb4s1.dtypes

data         int64
power_two    int64
dtype: object

In [59]:
wb4s2 = wb4['sheet_calcs_2']
wb4s2

   data  power_three
0     3           27
1     6          216
2     4           64
3     7          343
4     2            8
5     8          512
6     1            1

In [60]:
wb4s2.dtypes

data           int64
power_three    int64
dtype: object

In [61]:
wb4s3 = wb4['sheet_calcs_3']
wb4s3

   data  power_four
0     6        1296
1     4         256
2     7        2401
3     2          16
4     8        4096
5     1           1
6     3          81

In [62]:
wb4s3.dtypes

data          int64
power_four    int64
dtype: object