# Writing a data file

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Saving a data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2020-12-22</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">02_data_file_write.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">data/cloquet_two_weeks_60_min.csv<br />
                                    data/cloquet_two_weeks_30_min.csv<br />
                                    data/cloquet_two_weeks_15_min.csv
        </td>
    </tr>
</table>

# Introduction

- Write a dataframe to a csv file
- Write a dataframe to an Excel file with one worksheet
- Write several dataframes to an Excel file with multiple worksheets

# Import libraries

In [1]:
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
from openpyxl import Workbook
import datasense as ds
import pandas as pd

## Write a dataframe to a csv file

In [2]:
size = 4

In [3]:
df1 = ds.create_dataframe(size=size)
df2 = ds.create_dataframe(size=size)
df3 = ds.create_dataframe(size=size)

In [4]:
df1.head()

,a,b,c,d,i,r,s,t,u,x,y,z
0,26.261200,True,medium,0 days,44.536800,1,male,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.750618,61,0.682671
1,71.656446,True,large,0 days,82.708731,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.787929,24,0.324764
2,14.219702,False,large,0 days,51.345790,1,male,2020-12-24 20:48:23,2020-12-24 20:48:23,-0.038605,42,0.777453
3,35.453911,True,medium,0 days,68.028028,0,male,2020-12-25 20:48:23,2020-12-25 20:48:23,0.471005,25,0.945052

In [5]:
df2.head()

,a,b,c,d,i,r,s,t,u,x,y,z
0,40.151981,True,medium,0 days,78.013681,1,female,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.101066,39,0.369240
1,28.030863,True,large,0 days,41.195261,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.697371,56,0.571535
2,38.359981,False,medium,0 days,48.256678,1,female,2020-12-24 20:48:23,2020-12-24 20:48:23,0.106257,69,0.506493
3,49.705317,True,medium,0 days,25.037043,1,female,2020-12-25 20:48:23,2020-12-25 20:48:23,-0.456070,56,0.036626

In [6]:
df3.head()

,a,b,c,d,i,r,s,t,u,x,y,z
0,79.214562,False,medium,0 days,17.817933,0,female,2020-12-22 20:48:23,2020-12-22 20:48:23,0.556173,37,0.948024
1,61.138230,False,medium,0 days,18.503782,1,female,2020-12-23 20:48:23,2020-12-23 20:48:23,1.103412,14,0.815527
2,23.941323,True,large,0 days,31.722457,0,female,2020-12-24 20:48:23,2020-12-24 20:48:23,1.229208,56,0.048275
3,70.074508,False,medium,0 days,69.299060,0,male,2020-12-25 20:48:23,2020-12-25 20:48:23,0.168325,48,0.783123

In [7]:
ds.save_file(
    df=df1,
    file_name='data/just_a_test.csv'
)

In [8]:
just_a_test = ds.read_file(
    file_name='data/just_a_test.csv'
)

In [9]:
just_a_test.head()

,a,b,c,d,i,r,s,t,u,x,y,z
0,26.261200,True,medium,0 days,44.536800,1,male,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.750618,61,0.682671
1,71.656446,True,large,0 days,82.708731,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.787929,24,0.324764
2,14.219702,False,large,0 days,51.345790,1,male,2020-12-24 20:48:23,2020-12-24 20:48:23,-0.038605,42,0.777453
3,35.453911,True,medium,0 days,68.028028,0,male,2020-12-25 20:48:23,2020-12-25 20:48:23,0.471005,25,0.945052

In [10]:
# df3 = ds.read_file(
#     file_name='data/cloquet_two_weeks_15_min.csv'
# )
# df3.head()

## Write a dataframe to an Excel file with one worksheet

In [11]:
# Add one dataframe as one worksheet in an Excel workbook.
# wb = Workbook()
# ws1 = wb.active
# ws1.title = 'sheet_one'
# for row in dataframe_to_rows(
#     df=df1,
#     index=False,
#     header=True
# ):
#     ws1.append(row)
# wb.save(filename='data/even_another_file.xlsx')

In [12]:
path = 'data/even_another_file.xlsx'
engine = 'openpyxl'
with pd.ExcelWriter(path=path, engine=engine) as writer:
    df1.to_excel(
        excel_writer=writer,
        sheet_name='sheet_one',
        index=False
    )
    df2.to_excel(
        excel_writer=writer,
        sheet_name='sheet_two',
        index=False
    )
    df3.to_excel(
        excel_writer=writer,
        sheet_name='sheet_three',
        index=False
    )
writer.save()

In [13]:
# Add two more dataframes as two worksheets in the previous Excel workbook.
# ws2 = wb.create_sheet(
#     title='sheet_two',
#     index=1
# )
# for row in dataframe_to_rows(
#     df=df2,
#     index=False,
#     header=True
# ):
#     ws2.append(row)

In [14]:
# ws3 = wb.create_sheet(
#     title='sheet_three',
#     index=2
# )
# for row in dataframe_to_rows(
#     df=df3,
#     index=False,
#     header=True
# ):
#     ws3.append(row)
# wb.save(filename='data/even_another_file.xlsx')

In [15]:
wb2 = load_workbook(filename='data/even_another_file.xlsx')
wb2.sheetnames

['sheet_one', 'sheet_two', 'sheet_three']

In [16]:
ws1 = wb2['sheet_one']
from itertools import islice
data = ws1.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_one = pd.DataFrame(data, columns=cols)
df_one

,a,b,c,d,i,r,s,t,u,x,y,z
0,26.261200,True,medium,0,44.536800,1,male,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.750618,61,0.682671
1,71.656446,True,large,0,82.708731,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.787929,24,0.324764
2,14.219702,False,large,0,51.345790,1,male,2020-12-24 20:48:23,2020-12-24 20:48:23,-0.038605,42,0.777453
3,35.453911,True,medium,0,68.028028,0,male,2020-12-25 20:48:23,2020-12-25 20:48:23,0.471005,25,0.945052

In [17]:
df_one.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [18]:
# df_two = pd.DataFrame(wb2['sheet_two'].values)
# header = df_two.iloc[0]
# df_two = df_two[1:]
# df_two.columns = header
# df_two.head()

In [19]:
ws2 = wb2['sheet_two']
from itertools import islice
data = ws2.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_two = pd.DataFrame(data, columns=cols)
df_two

,a,b,c,d,i,r,s,t,u,x,y,z
0,40.151981,True,medium,0,78.013681,1,female,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.101066,39,0.369240
1,28.030863,True,large,0,41.195261,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.697371,56,0.571535
2,38.359981,False,medium,0,48.256678,1,female,2020-12-24 20:48:23,2020-12-24 20:48:23,0.106257,69,0.506493
3,49.705317,True,medium,0,25.037043,1,female,2020-12-25 20:48:23,2020-12-25 20:48:23,-0.456070,56,0.036626

In [20]:
df_two.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [21]:
df_two.columns

Index(['a', 'b', 'c', 'd', 'i', 'r', 's', 't', 'u', 'x', 'y', 'z'], dtype='object')

In [22]:
# df_three = pd.DataFrame(wb2['sheet_three'].values)
# header = df_three.iloc[0]
# df_three = df_three[1:]
# df_three.columns = header
# df_three.head()

In [23]:
ws3 = wb2['sheet_two']
from itertools import islice
data = ws3.values
cols = next(data)[:]
data = list(data)
# idx = [row[0] for row in data]
data = (islice(row, None) for row in data)
df_three = pd.DataFrame(data, columns=cols)
df_three

,a,b,c,d,i,r,s,t,u,x,y,z
0,40.151981,True,medium,0,78.013681,1,female,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.101066,39,0.369240
1,28.030863,True,large,0,41.195261,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.697371,56,0.571535
2,38.359981,False,medium,0,48.256678,1,female,2020-12-24 20:48:23,2020-12-24 20:48:23,0.106257,69,0.506493
3,49.705317,True,medium,0,25.037043,1,female,2020-12-25 20:48:23,2020-12-25 20:48:23,-0.456070,56,0.036626

In [24]:
df_three.columns

Index(['a', 'b', 'c', 'd', 'i', 'r', 's', 't', 'u', 'x', 'y', 'z'], dtype='object')

In [25]:
df_three.dtypes

a           float64
b              bool
c            object
d             int64
i           float64
r            object
s            object
t    datetime64[ns]
u    datetime64[ns]
x           float64
y             int64
z           float64
dtype: object

In [29]:
df_all_sheets = pd.read_excel(path, sheet_name=None, engine='openpyxl')

In [30]:
df_all_sheets

{'sheet_one':            a      b       c  d          i  r     s                   t  \
 0  26.261200   True  medium  0  44.536800  1  male 2020-12-22 20:48:23
 1  71.656446   True   large  0  82.708731  1  male 2020-12-23 20:48:23
 2  14.219702  False   large  0  51.345790  1  male 2020-12-24 20:48:23
 3  35.453911   True  medium  0  68.028028  0  male 2020-12-25 20:48:23

                     u         x   y         z
 0 2020-12-22 20:48:23 -0.750618  61  0.682671
 1 2020-12-23 20:48:23 -0.787929  24  0.324764
 2 2020-12-24 20:48:23 -0.038605  42  0.777453
 3 2020-12-25 20:48:23  0.471005  25  0.945052  ,
 'sheet_two':            a      b       c  d          i  r       s                   t  \
 0  40.151981   True  medium  0  78.013681  1  female 2020-12-22 20:48:23
 1  28.030863   True   large  0  41.195261  1    male 2020-12-23 20:48:23
 2  38.359981  False  medium  0  48.256678  1  female 2020-12-24 20:48:23
 3  49.705317   True  medium  0  25.037043  1  female 2020-12-25 20:48:23

                     u         x   y         z
 0 2020-12-22 20:48:23 -0.101066  39  0.369240
 1 2020-12-23 20:48:23 -0.697371  56  0.571535
 2 2020-12-24 20:48:23  0.106257  69  0.506493
 3 2020-12-25 20:48:23 -0.456070  56  0.036626  ,
 'sheet_three':            a      b       c  d          i  r       s                   t  \
 0  79.214562  False  medium  0  17.817933  0  female 2020-12-22 20:48:23
 1  61.138230  False  medium  0  18.503782  1  female 2020-12-23 20:48:23
 2  23.941323   True   large  0  31.722457  0  female 2020-12-24 20:48:23
 3  70.074508  False  medium  0  69.299060  0    male 2020-12-25 20:48:23

                     u         x   y         z
 0 2020-12-22 20:48:23  0.556173  37  0.948024
 1 2020-12-23 20:48:23  1.103412  14  0.815527
 2 2020-12-24 20:48:23  1.229208  56  0.048275
 3 2020-12-25 20:48:23  0.168325  48  0.783123  }

In [31]:
df_all_sheets.keys()

dict_keys(['sheet_one', 'sheet_two', 'sheet_three'])

In [34]:
df_one_one = df_all_sheets['sheet_one']
df_one_one

,a,b,c,d,i,r,s,t,u,x,y,z
0,26.261200,True,medium,0,44.536800,1,male,2020-12-22 20:48:23,2020-12-22 20:48:23,-0.750618,61,0.682671
1,71.656446,True,large,0,82.708731,1,male,2020-12-23 20:48:23,2020-12-23 20:48:23,-0.787929,24,0.324764
2,14.219702,False,large,0,51.345790,1,male,2020-12-24 20:48:23,2020-12-24 20:48:23,-0.038605,42,0.777453
3,35.453911,True,medium,0,68.028028,0,male,2020-12-25 20:48:23,2020-12-25 20:48:23,0.471005,25,0.945052

In [43]:
for key in df_all_sheets.keys():
    print(key)

sheet_one
sheet_two
sheet_three

# References

- [pandas to_excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)

- [pandas to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)

- [pandas API reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

- [pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)