# Column operations

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Column operations</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2019-11-05</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-12-21</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">05_column_operations.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">data/cloquet_two_weeks_60_min.csv<br />
                                    data/more_names.csv</td>
    </tr>
</table>

# Ideas

- Rename one column
- Rename multiple columns
- Rename columns with a list
- Rename columns with a list read from a file
- Create a new column from operations on one or more other columns
- Delete a column

In [1]:
# Read a csv file.
import pandas as pd
df = pd.read_csv('data/cloquet_two_weeks_60_min.csv',
                 parse_dates=True,
                 index_col='Time')

In [2]:
# Show the column names.
df.columns

Index(['Water Load (lb/MSF)', 'Trim Board Density (lb/cft)',
       'Trim Board Thickness (in)', 'Trim Board Weight (lb/sft)',
       'Wool Target (%)', 'Wool Usage (%)', 'Wool Flow (lb/min)',
       'Starch Target (%)', 'Starch Usage (%)', 'Starch Flow (lb/min)',
       'Clay Target (%)', 'Clay Usage (%)', 'Clay Flow (lb/min)',
       'Newsprint Target (%)', 'Newsprint Usage (%)', 'Perlite Target (%)',
       'Perlite Usage (%)', 'Wet Clay Target (%)', 'Wet Clay Usage (%)',
       'Wet Gypsum Target (%)', 'Wet Gypsum Usage (%)', 'Wet Broke Target (%)',
       'Wet Broke Usage (%)', 'Dust Target (%)', 'Dust Usage (%)',
       'Broke Target (%)', 'Broke Usage (%)', 'Consistency Target (%)',
       'Consistency Actual (%)'],
      dtype='object')

## Rename one column

In [3]:
df = df.rename(index=str,
               columns={"Water Load (lb/MSF)": "Water Load (lb/msf)"})

In [4]:
df.head()

,Water Load (lb/msf),Trim Board Density (lb/cft),Trim Board Thickness (in),Trim Board Weight (lb/sft),Wool Target (%),Wool Usage (%),Wool Flow (lb/min),Starch Target (%),Starch Usage (%),Starch Flow (lb/min),...,Wet Gypsum Target (%),Wet Gypsum Usage (%),Wet Broke Target (%),Wet Broke Usage (%),Dust Target (%),Dust Usage (%),Broke Target (%),Broke Usage (%),Consistency Target (%),Consistency Actual (%)
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

## Rename multiple columns

In [5]:
df = df.rename(index=str,
               columns={"Water Load (lb/MSF)": "Water Load (lb/msf)",
                   "Trim Board Density (lb/cft)": "Trim Board Density (lb/cubic ft)"})

In [6]:
df.head()

,Water Load (lb/msf),Trim Board Density (lb/cubic ft),Trim Board Thickness (in),Trim Board Weight (lb/sft),Wool Target (%),Wool Usage (%),Wool Flow (lb/min),Starch Target (%),Starch Usage (%),Starch Flow (lb/min),...,Wet Gypsum Target (%),Wet Gypsum Usage (%),Wet Broke Target (%),Wet Broke Usage (%),Dust Target (%),Dust Usage (%),Broke Target (%),Broke Usage (%),Consistency Target (%),Consistency Actual (%)
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

## Rename multiple columns using a list

In [7]:
NEW_NAMES = {"Trim Board Weight (lb/sft)": "Trim Board Weight (lb/square ft)"}
df = df.rename(index=str,
               columns=NEW_NAMES)

In [8]:
df.head()

,Water Load (lb/msf),Trim Board Density (lb/cubic ft),Trim Board Thickness (in),Trim Board Weight (lb/square ft),Wool Target (%),Wool Usage (%),Wool Flow (lb/min),Starch Target (%),Starch Usage (%),Starch Flow (lb/min),...,Wet Gypsum Target (%),Wet Gypsum Usage (%),Wet Broke Target (%),Wet Broke Usage (%),Dust Target (%),Dust Usage (%),Broke Target (%),Broke Usage (%),Consistency Target (%),Consistency Actual (%)
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

In [9]:
# Rename all columns using a list.
ALL_NAMES = ['y1', 'y2', 'y3', 'y4', 'y5',
             'y6', 'y7', 'y8', 'y9', 'y10',
             'y11', 'y12', 'y13', 'y14', 'y15',
             'y16', 'y17', 'y18', 'y19', 'y20',
             'y21', 'y22', 'y23', 'y24', 'y25',
             'y26', 'y27', 'y28', 'y29']
df.columns = ALL_NAMES

In [10]:
df.head()

,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10,...,y20,y21,y22,y23,y24,y25,y26,y27,y28,y29
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

## Rename columns with a list read from a file

In [11]:
df.columns = pd.read_table('data/more_names.csv',
                           header=None)[0].tolist()

In [12]:
df.head()

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,a20,a21,a22,a23,a24,a25,a26,a27,a28,a29
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

## Create a new column from operations on one or more other columns

In [13]:
df['Wool Difference (%)'] = df['a5'] - df['a6']

In [14]:
df.head()

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,a21,a22,a23,a24,a25,a26,a27,a28,a29,Wool Difference (%)
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0,NaN
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0,NaN
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0,NaN
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0,NaN
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0,NaN

## Delete a column

In [15]:
df = df.drop(columns=['Wool Difference (%)'])

In [16]:
df.head()

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,a20,a21,a22,a23,a24,a25,a26,a27,a28,a29
Time,,,,,,,,,,,,,,,,,,,,,
2018-12-03 00:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.112803,0.135285,NaN,125.114235,-0.506661,...,NaN,0,NaN,0.003451,NaN,1.050399,NaN,0.011593,0.011593,0
2018-12-03 01:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.188498,0.136963,NaN,126.663521,-0.514398,...,NaN,0,NaN,0.003494,NaN,1.063406,NaN,0.011728,0.011728,0
2018-12-03 02:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.264192,0.138641,NaN,128.212799,-0.522135,...,NaN,0,NaN,0.003537,NaN,1.076413,NaN,0.011863,0.011863,0
2018-12-03 03:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.339887,0.140318,NaN,129.762085,-0.529872,...,NaN,0,NaN,0.003580,NaN,1.089421,NaN,0.011998,0.011998,0
2018-12-03 04:00:00,1051.349976,11.956731,0.594,58.599998,NaN,6.415581,0.141996,NaN,131.311371,-0.537609,...,NaN,0,NaN,0.003622,NaN,1.102428,NaN,0.012133,0.012133,0

# References

- [pandas rename](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html)

- [pandas drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

- [pandas head](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)

- [pandas columns](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.columns.html)