In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('file1.csv')

In [4]:
df1.head()

       date  price
0  20140101      1
1  20140201      2
2  20140301      3

In [5]:
df2 = pd.read_csv('file2.csv')

In [6]:
df2.head()

       date  price
0  20140401      4
1  20140501      5
2  20140601      6

In [7]:
df3 = pd.concat([df1, df2])

In [8]:
df3.head()

       date  price
0  20140101      1
1  20140201      2
2  20140301      3
0  20140401      4
1  20140501      5